
:root {
  --main-color: #148d47;
  --hover-color: #1eb37a; 
  --success-color: #43b581;
  --danger-color: #982929; 
  
  --online-color: #43b581;
  --idle-color: #faa61a; 
  --dnd-color: #982929; 
  --streaming-color: #593695; 
  --offline-color: #808080; 
  
  --background-shading-percent: 100%; 
  --background-image: url(https://i.ibb.co/zT9LmtTg/image.png); 
  --background-position: center; 
  --background-size: cover;
  --background-attachment: fixed; 
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  
  --user-popout-image: var(--background-image);
  --user-popout-position: var(--background-position); 
  --user-popout-size: var(--background-size); 
  --user-popout-attachment: var(--background-attachment); 
  --user-popout-filter: var(--background-filter); 
  
  --user-modal-image: var(--background-image); 
  --user-modal-position: var(--background-position); 
  --user-modal-size: var(--background-size);
  --user-modal-attachment: var(--background-attachment); 
  --user-modal-filter: var(--background-filter); 
  --home-icon: url(https://i.ibb.co/TMbnJ88n/597139008-782276511492972-3871347955979065543-n.jpg); 
  --home-size: cover; 
  --main-font: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
  
  --channel-normal: var(--interactive-text-default); 
  --channel-muted: var(--interactive-muted);
  --channel-hover: var(--interactive-text-hover);
  --channel-selected: var(--interactive-text-active);
  --channel-selected-bg: var(--main-color); 
  --channel-unread: var(--main-color);
  --channel-unread-hover: var(--hover-color);
  --focus-color: var(--main-color);
}

:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7); 
  --modal-shading: rgba(252, 252, 252, 0.5); 
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.2); 
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4); 
  --input-shading: rgba(255, 255, 255, 0.05); 
  --normal-text: #d8d8db; 
  --muted-text: #aeaeb4; 
}

:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7); 
  --modal-shading: rgba(0, 0, 0, 0.5); 
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb; 
  --muted-text: #94949c; 
}

:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4); 
  --popout-shading: rgba(0, 0, 0, 0.8); 
  --modal-shading: rgba(0, 0, 0, 0.6); 
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

